<!DOCTYPE html>
<html>
	<head>
		<title>Date Index</title>
		<meta charset="utf-8" />
		<link href="/static/css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="content">
			<h4>Dates</h4>
			<ul>
				{% for datekey in date_links %}
					<li><a href="{{ date_links[datekey] }}">{{ datekey }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>
