<!DOCTYPE html>
<html>
<head>
	<title>Image Detail</title>
  <meta charset="utf-8" />
	<link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
	<div class="content">
		{% if image.original %}
			<a href="{{ image.original }}"><img src="{{ image.resize }}" class="detail-img"></a>
		{% else %}
			<img src="{{ image.resize }}" class="detail-img">
		{% endif %}

		<div class="exif-div">
			<span><b>Camera:</b> {{ image.exif.model }} &middot; <b>Lens:</b> {{ image.exif.lensmodel }} &middot; <b>Focal Length:</b> {{ image.exif.focallength }} &middot; <b>Aperture:</b> {{ image.exif.fstop }} &middot; <b>Shutter:</b> {{ image.exif.shutterspeed }} &middot; <b>ISO:</b> {{ image.exif.iso }}</span>
		</div>
		<div>

		{% if image.tags %}
			<div class="tags-div">
				<span><b>Tags:</b>
					{% for tag in image.tags %}
						<a href="{{ tag_links[tag] }}">{{ tag }}</a>
					{% endfor %}
				</span>
			</div>
		{% endif %}

		{% if image.next_detail_link %}
			<span class="next-span"><a href="{{ image.next_detail_link }}">Next</a></span>
		{% endif %}

		{% if image.prev_detail_link %}
			<span class="prev-span"><a href="{{ image.prev_detail_link }}">Prev</a></span>
		{% endif %}

		<span class="page-span">Image: {{ image_number }} / {{ tagged_images|length }}</span>
		</div>
	</div>
</body>
</html>
