<!DOCTYPE html>
<html>
	<head>
		<title>Gallery Index</title>
		<meta charset="utf-8" />
		<link href="/static/css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="content">
		{% for image in image_page %}
			<div class="img-div"><a href="{{ image.detail_link }}"><img src="{{ image.thumbnail }}"></a></div>
			{{ loop.cycle('', '', '<span class="stretch"></span>') }}
		{% endfor %}

		{% if PAGINATE %}
			<div>
				{% if page_number < total_pages %}
					<span class="next-span"><a href="{{ next_index_link }}">Next</a></span>
				{% endif %}
				{% if page_number > 1 %}
					<span class="prev-span"><a href="{{ prev_index_link }}">Prev</a></span>
				{% endif %}
				<span class="page-span">Page: {{ page_number }} / {{ total_pages }}</span>
			</div>
		{% endif %}

		{% if date_links and tag == 'all' %}
			<h4>Dates</h4>
			<ul>
				{% for datekey in date_links %}
					{% if loop.index < PAGE_SIZE %}
						<li><a href="{{ date_links[datekey] }}">{{ datekey }}</a></li>
					{% elif loop.index == PAGE_SIZE %}
						<li><a href="/dates.html">All dates</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}

		{% if tag_links and tag == 'all' %}
			<h4>Tags</h4>
			<ul>
				{% for tag in tag_links %}
					{% if loop.index < PAGE_SIZE %}
						<li><a href="{{ tag_links[tag] }}">{{ tag }}</a></li>
					{% elif loop.index == PAGE_SIZE %}
						<li><a href="/tags.html">All tags</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
		</div>
	</body>
</html>
