<!DOCTYPE html>
<html>
	<head>
		<title>Tag Index</title>
		<meta charset="utf-8" />
		<link href="/static/css/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="content">
			<h4>Tags</h4>
			<ul>
				{% for tag in tag_links %}
					<li><a href="{{ tag_links[tag] }}">{{ tag }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>
