body {
	font-family: arial;
}

.content {
	width: 1000px;
	height: 650px;
	margin: 0 auto;

  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

.img-div {
	max-width: 30%;
	vertical-align: top;
	display: inline-block;
	*display: inline;
	zoom: 1
}

.exif-div {
	text-align: center;
}

.tags-div {
	text-align: center;
}

.detail-img {
	max-width: 100%;
	max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0
}

.prev-span {
	float: left;
	display: block;
	width: 100px;
}

.next-span {
	float: right;
	text-align: right;
	display: block;
	width: 100px;
}

.page-span {
	text-align: center;
	display: block;
	width: auto;
}
